.home_ {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.search-container {
  display: flex;
  align-items: center;
  width: 60%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-bar {
  flex: 1;
  padding: 15px 20px;
  border: none;
  font-size: 1.2rem;
  outline: none;
}

.search-button {
  flex-shrink: 1;
  padding: 15px 30px;
  border: none;
  background-color: #446284;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  transition: background-color 0.3s ease;
}
.search-button:hover {
  background-color: #4f6886;
}

.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.movie {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.movie h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.movie p {
  color: #555;
  font-size: 0.9rem;
}
@media (max-width: 660px) {
  .search-container {
    width: 90%;
  }
  .search-bar {
    padding: 10px 15px;
  }
  .search-button {
    flex-shrink: 1;
    padding: 15px 15px;
    font-size: 0.8rem;
    flex: 0.6;
  }
}
